
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuth() {
      return request.auth != null;
    }

    function isOwner(docId) {
      return get(/databases/$(database)/documents/documents/$(docId)).data.members[request.auth.uid].role == 'owner';
    }

    function isEditor(docId) {
      let role = get(/databases/$(database)/documents/documents/$(docId)).data.members[request.auth.uid].role;
      return role == 'editor' || role == 'owner';
    }

    function isMember(docId) {
      return request.auth.uid in get(/databases/$(database)/documents/documents/$(docId)).data.members;
    }

    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    match /documents/{docId} {
      allow read: if isAuth() && isMember(docId);

      allow create: if isAuth() && request.resource.data.members[request.auth.uid].role == 'owner';

      allow update: if isAuth() && isEditor(docId);
      
      allow delete: if isAuth() && isOwner(docId);
    }
  }
}
