rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Helper Functions
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isOwner(docData) {
      return request.auth.uid == docData.members[request.auth.uid].role == 'owner';
    }
    
    function isEditor(docData) {
      return request.auth.uid == docData.members[request.auth.uid].role == 'editor';
    }

    // Rules for the 'users' collection
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
    
    // Rules for the 'documents' collection
    match /documents/{documentId} {
      allow read: if isSignedIn() && request.auth.uid in resource.data.members;
      
      allow create: if isSignedIn() 
                    && request.resource.data.members[request.auth.uid].role == 'owner'
                    && request.resource.data.keys().hasAll(['title', 'category', 'members', 'createdAt', 'updatedAt'])
                    && request.resource.data.members.size() == 1;

      allow update: if isSignedIn() && (isOwner(resource.data) || isEditor(resource.data));

      allow delete: if isSignedIn() && isOwner(resource.data);
    }
  }
}